body{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.btn-back{
    text-align: left;
}
.wrapper {
  margin: 0 auto;
  border: 3px solid #000000;
  border-radius: 12px;
  padding: 40px;
  max-width: fit-content;
  box-shadow: -1px 2px 0px 2px grey;
}
#datetime-picker{
    font-size: 18px;
    font-weight: 400;
    padding: 5px 20px;
    height: 35px;
    width: 150px;
    border-radius: 7px;
}
button{
    height: 49px;
    width: 60px;
    background-color: rgb(57, 221, 213);
    border-radius: 5px;
}
.timer {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}
.field {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
}
.field:first-child {
  margin-left: 0;
}
.value {
  font-weight: 900;
  margin-top: 10px;
  font-size: 25px;
}
.label {
  font-weight: 400;
}
